#container {
  background-color: blue;
}

.logo {
  width: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}
.card > h3 {
  word-wrap: break-word;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-cards {
  display: flex;
  flex-wrap: wrap;
}
.skeleton-card {
  width: 200px;
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
}
.skeleton-card > img {
  width: 100%;
}

.card-shimmer {
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 200px;
  margin: 10px;
}
.shimmerBG {
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #5d5f61;
  background: linear-gradient(to right, #5f6061 4%, #34383a 25%, #858585 36%);
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.media {
  height: 200px;
}

.p-32 {
  padding: 32px;
}

.title-line {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.content-line {
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.end {
  width: 40%;
}

.m-t-24 {
  margin-top: 24px;
}

.menu {
  display: flex;
}
